.git
.gitignore
.cache

# data folders:
examples/VogelsAbbott2005/VogelsAbbott2005_test_____/
T2/ThalamoCorticalModel_data_size_closed_vsdi/
T2/ThalamoCorticalModel_data_size_feedforward_vsdi/
T2/ThalamoCorticalModel_data_size_closed_vsdi_____/
T2/ThalamoCorticalModel_data_size_feedforward_vsdi_____/